.my-bg{
    background: rgb(234,174,238);
    background: radial-gradient(circle, rgba(234,174,238,1) 0%, rgba(148,187,233,1) 100%, rgba(40,202,232,1) 100%);
}
.result-bg{
    background: rgb(174,224,238);
    background: radial-gradient(circle, rgba(174,224,238,1) 0%, rgba(170,148,233,1) 100%);
}
html {
    min-height: 100%;
}